.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    background-color: #e92b2b;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 0.1em
}

.title::first-letter {
    text-transform: uppercase;
}

.paragraph {
    text-align: center;
}

.type {
    color: #000000;
    background-color: #2bd9e9;
    margin-right: .5em;
    text-transform: uppercase;
}
